.carousel{
    position: absolute;
}
.carousel img{
    height: 100%;
    width: 100%;
    position: inherit;

}
.carousel-inner{
    height: 100%;
    width: 100%;
    position: inherit;
}
.carousel-caption{
    color: white;
    position: absolute;
    top: 18px;
    right: 50%;
    left: 0;
   
}
.left-position{
    left: 50px;
}
.carousel-caption-1 h1{
    line-height: 42px;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 2em;
    text-align: justify;

}
.carousel-caption-1 span{
    color: #f60;
    line-height: 42px;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: inherit;
}
.carousel-caption-1 p{
    margin-bottom: 24px;
    font-size: 18px;
    color: #3A3932;
}