.carousel{
    position: absolute;
}
.carousel img{
    height: 100%;
    width: 100%;
    position: inherit;

}
.carousel-inner{
    height: 100%;
    width: 100%;
    position: inherit;
}
.carousel-caption{
    color: white;
}