*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
.carousel{
    height: 100vh;
    max-width: 100%;
    overflow: hidden;
}
.carousel-item {
    height: 100%;
    max-width: 100%;
}
.carousel-item img{
    height: 100%;
    max-width: 100%;
}



